USE [master]
GO
/****** Object:  Database [ShopFlow]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE DATABASE [ShopFlow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopFlow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopFlow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopFlow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopFlow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopFlow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopFlow]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[guest_token] [varchar](64) NULL,
	[currency] [char](3) NOT NULL,
	[warehouse_id] [bigint] NULL,
	[totals_json] [nvarchar](max) NULL,
	[last_activity_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_applied_promo]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_applied_promo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cart_id] [bigint] NOT NULL,
	[coupon_id] [bigint] NULL,
	[campaign_id] [bigint] NULL,
	[rule_id] [bigint] NULL,
	[discount_amount] [decimal](19, 4) NOT NULL,
	[breakdown_json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_item]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_item](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cart_id] [bigint] NOT NULL,
	[offer_id] [bigint] NOT NULL,
	[vendor_id] [bigint] NOT NULL,
	[sku_id] [bigint] NOT NULL,
	[qty] [decimal](18, 3) NOT NULL,
	[price_gross_snapshot] [decimal](19, 4) NOT NULL,
	[tax_rate_snapshot] [decimal](5, 2) NOT NULL,
	[attributes_snapshot] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_attribute]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_attribute](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[data_type] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_attribute_option]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_attribute_option](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[attribute_id] [bigint] NOT NULL,
	[code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_attr_option] UNIQUE NONCLUSTERED 
(
	[attribute_id] ASC,
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_attribute_option_i18n]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_attribute_option_i18n](
	[option_id] [bigint] NOT NULL,
	[lang] [char](2) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [UQ_attr_option_i18n] UNIQUE NONCLUSTERED 
(
	[option_id] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_category]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parent_id] [bigint] NULL,
	[sort] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_category_i18n]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_category_i18n](
	[category_id] [bigint] NOT NULL,
	[lang] [char](2) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[meta_title] [nvarchar](255) NULL,
	[meta_desc] [nvarchar](500) NULL,
 CONSTRAINT [UQ_cat_category_i18n] UNIQUE NONCLUSTERED 
(
	[category_id] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cat_category_slug] UNIQUE NONCLUSTERED 
(
	[lang] ASC,
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_product]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_product](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_type] [tinyint] NOT NULL,
	[status] [tinyint] NOT NULL,
	[return_days] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_product_category]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_product_category](
	[product_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_product_i18n]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_product_i18n](
	[product_id] [bigint] NOT NULL,
	[lang] [char](2) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[short_desc] [nvarchar](1000) NULL,
	[long_desc] [nvarchar](max) NULL,
 CONSTRAINT [UQ_cat_product_i18n] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cat_product_slug] UNIQUE NONCLUSTERED 
(
	[lang] ASC,
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_sku]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_sku](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[sku_code] [varchar](64) NOT NULL,
	[barcode] [varchar](64) NULL,
	[options_json] [nvarchar](1000) NULL,
	[weight_g] [int] NULL,
	[length_mm] [int] NULL,
	[width_mm] [int] NULL,
	[height_mm] [int] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sku_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_sku_media]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_sku_media](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sku_id] [bigint] NOT NULL,
	[url] [nvarchar](1000) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[sort] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_sku_option_value]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_sku_option_value](
	[sku_id] [bigint] NOT NULL,
	[attribute_id] [bigint] NOT NULL,
	[option_id] [bigint] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sku_id] ASC,
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ce_review]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ce_review](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[product_id] [bigint] NOT NULL,
	[sku_id] [bigint] NULL,
	[vendor_id] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[content] [nvarchar](max) NULL,
	[images_json] [nvarchar](max) NULL,
	[status] [tinyint] NOT NULL,
	[moderated_by] [bigint] NULL,
	[moderated_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_address]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_address](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[addr_type] [tinyint] NOT NULL,
	[full_name] [nvarchar](120) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[line1] [nvarchar](255) NOT NULL,
	[line2] [nvarchar](255) NULL,
	[ward] [nvarchar](120) NULL,
	[district] [nvarchar](120) NULL,
	[province] [nvarchar](120) NULL,
	[country] [char](2) NOT NULL,
	[postal_code] [nvarchar](20) NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_permission]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_role]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_role_permission]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_role_permission](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_user]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[status] [tinyint] NOT NULL,
	[email_verified] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_user_role]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_user_role](
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inv_adjustment]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inv_adjustment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [bigint] NOT NULL,
	[vendor_id] [bigint] NOT NULL,
	[reason] [nvarchar](255) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inv_adjustment_line]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inv_adjustment_line](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[adjustment_id] [bigint] NOT NULL,
	[sku_id] [bigint] NOT NULL,
	[delta_qty] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inv_reservation]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inv_reservation](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [bigint] NOT NULL,
	[vendor_id] [bigint] NOT NULL,
	[sku_id] [bigint] NOT NULL,
	[cart_id] [bigint] NULL,
	[order_id] [bigint] NULL,
	[qty] [decimal](18, 3) NOT NULL,
	[status] [tinyint] NOT NULL,
	[expires_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inv_stock]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inv_stock](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [bigint] NOT NULL,
	[vendor_id] [bigint] NOT NULL,
	[sku_id] [bigint] NOT NULL,
	[on_hand] [decimal](18, 3) NOT NULL,
	[reserved] [decimal](18, 3) NOT NULL,
	[safety_stock] [decimal](18, 3) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[row_ver] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_stock_wh_vendor_sku] UNIQUE NONCLUSTERED 
(
	[warehouse_id] ASC,
	[vendor_id] ASC,
	[sku_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inv_warehouse]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inv_warehouse](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address_json] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mkt_offer]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mkt_offer](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vendor_id] [bigint] NOT NULL,
	[sku_id] [bigint] NOT NULL,
	[price_gross_vnd] [decimal](19, 4) NULL,
	[price_gross_usd] [decimal](19, 4) NULL,
	[currency_policy] [tinyint] NOT NULL,
	[status] [tinyint] NOT NULL,
	[min_qty] [decimal](18, 3) NULL,
	[max_qty] [decimal](18, 3) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_offer_vendor_sku] UNIQUE NONCLUSTERED 
(
	[vendor_id] ASC,
	[sku_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mkt_vendor]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mkt_vendor](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[tax_code] [varchar](50) NULL,
	[invoice_profile_json] [nvarchar](max) NULL,
	[return_policy_json] [nvarchar](max) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ord_order]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ord_order](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_code] [varchar](20) NOT NULL,
	[user_id] [bigint] NULL,
	[warehouse_id] [bigint] NOT NULL,
	[currency] [char](3) NOT NULL,
	[fx_rate] [decimal](18, 8) NULL,
	[subtotal] [decimal](19, 4) NOT NULL,
	[discount_total] [decimal](19, 4) NOT NULL,
	[tax_total] [decimal](19, 4) NOT NULL,
	[shipping_fee] [decimal](19, 4) NOT NULL,
	[grand_total] [decimal](19, 4) NOT NULL,
	[status] [tinyint] NOT NULL,
	[placed_at] [datetime2](0) NOT NULL,
	[completed_at] [datetime2](0) NULL,
	[cancel_reason] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ord_order_address]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ord_order_address](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[addr_type] [tinyint] NOT NULL,
	[full_name] [nvarchar](120) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[line1] [nvarchar](255) NOT NULL,
	[line2] [nvarchar](255) NULL,
	[ward] [nvarchar](120) NULL,
	[district] [nvarchar](120) NULL,
	[province] [nvarchar](120) NULL,
	[country] [char](2) NOT NULL,
	[postal_code] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ord_order_item]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ord_order_item](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[vendor_id] [bigint] NOT NULL,
	[offer_id] [bigint] NOT NULL,
	[sku_id] [bigint] NOT NULL,
	[name_snapshot] [nvarchar](255) NOT NULL,
	[attributes_snapshot] [nvarchar](1000) NULL,
	[qty] [decimal](18, 3) NOT NULL,
	[unit_price_gross] [decimal](19, 4) NOT NULL,
	[discount] [decimal](19, 4) NOT NULL,
	[tax_amount] [decimal](19, 4) NOT NULL,
	[line_total]  AS ([qty]*([unit_price_gross]-[discount])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ord_shipment]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ord_shipment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[warehouse_id] [bigint] NOT NULL,
	[shipper_code] [varchar](50) NULL,
	[tracking_no] [varchar](100) NULL,
	[cost] [decimal](19, 4) NOT NULL,
	[status] [tinyint] NOT NULL,
	[shipped_at] [datetime2](0) NULL,
	[delivered_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pay_transaction]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pay_transaction](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[method] [tinyint] NOT NULL,
	[txn_type] [tinyint] NOT NULL,
	[amount] [decimal](19, 4) NOT NULL,
	[status] [tinyint] NOT NULL,
	[attempt] [int] NOT NULL,
	[idempotency_key] [varchar](100) NOT NULL,
	[vnp_txn_ref] [varchar](64) NULL,
	[vnp_transaction_no] [varchar](64) NULL,
	[vnp_bank_code] [varchar](20) NULL,
	[vnp_pay_date] [varchar](20) NULL,
	[vnp_card_type] [varchar](20) NULL,
	[secure_hash] [varchar](256) NULL,
	[request_json] [nvarchar](max) NULL,
	[response_json] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[idempotency_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promo_application_log]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promo_application_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NULL,
	[cart_id] [bigint] NULL,
	[coupon_id] [bigint] NULL,
	[campaign_id] [bigint] NULL,
	[rule_id] [bigint] NULL,
	[amount] [decimal](19, 4) NOT NULL,
	[snapshot_json] [nvarchar](max) NULL,
	[applied_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promo_campaign]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promo_campaign](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[period_start] [datetime2](0) NOT NULL,
	[period_end] [datetime2](0) NOT NULL,
	[priority] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[scope_json] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promo_coupon]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promo_coupon](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[campaign_id] [bigint] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[max_uses] [int] NULL,
	[max_uses_per_user] [int] NULL,
	[used] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promo_rule]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promo_rule](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[campaign_id] [bigint] NOT NULL,
	[condition_json] [nvarchar](max) NOT NULL,
	[action_json] [nvarchar](max) NOT NULL,
	[stop_further_rules] [bit] NOT NULL,
	[sort] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_admin_profile]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_admin_profile](
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
	[level] [tinyint] NOT NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_customer_profile]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_customer_profile](
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[birthday] [date] NULL,
	[gender] [char](1) NULL,
	[loyalty_points] [int] NOT NULL,
	[marketing_optin] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_moderator_profile]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_moderator_profile](
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
	[team] [nvarchar](100) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_vendor_staff]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_vendor_staff](
	[vendor_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
	[title] [nvarchar](100) NULL,
	[permissions_json] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vendor_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_warehouse_staff]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_warehouse_staff](
	[warehouse_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
	[shift] [nvarchar](50) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ship_config]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ship_config](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [bigint] NOT NULL,
	[lead_time_days] [int] NOT NULL,
	[enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ship_rate]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ship_rate](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_id] [bigint] NOT NULL,
	[weight_from_g] [int] NOT NULL,
	[weight_to_g] [int] NOT NULL,
	[base_fee] [decimal](19, 4) NOT NULL,
	[step_fee_per_500g] [decimal](19, 4) NOT NULL,
	[cod_surcharge] [decimal](19, 4) NOT NULL,
	[fuel_surcharge_pct] [decimal](5, 2) NOT NULL,
	[effective_from] [datetime2](0) NOT NULL,
	[effective_to] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ship_zone]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ship_zone](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[country] [char](2) NOT NULL,
	[region_pattern] [nvarchar](255) NULL,
	[district_pattern] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_ext_mapping]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_ext_mapping](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vendor_id] [bigint] NULL,
	[entity] [varchar](30) NOT NULL,
	[local_id] [bigint] NOT NULL,
	[external_id] [nvarchar](128) NOT NULL,
	[system_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ext_mapping] UNIQUE NONCLUSTERED 
(
	[vendor_id] ASC,
	[entity] ASC,
	[system_id] ASC,
	[external_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_integration]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_integration](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vendor_id] [bigint] NULL,
	[type] [varchar](20) NOT NULL,
	[config_json] [nvarchar](max) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_staging]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_staging](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[integration_id] [bigint] NOT NULL,
	[entity] [varchar](30) NOT NULL,
	[direction] [tinyint] NOT NULL,
	[payload_json] [nvarchar](max) NOT NULL,
	[status] [tinyint] NOT NULL,
	[error_msg] [nvarchar](1000) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[processed_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_webhook_event]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_webhook_event](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[topic] [varchar](100) NOT NULL,
	[payload_json] [nvarchar](max) NOT NULL,
	[attempts] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[last_attempt_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[vendor_id] [bigint] NULL,
	[integration_id] [bigint] NULL,
	[order_id] [bigint] NULL,
	[cart_id] [bigint] NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tax_class]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tax_class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tax_mapping]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tax_mapping](
	[sku_id] [bigint] NOT NULL,
	[tax_class_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sku_id] ASC,
	[tax_class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tax_rate]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tax_rate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[country] [char](2) NOT NULL,
	[region] [varchar](100) NULL,
	[rate_percent] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tax_rate_rule]    Script Date: 02/09/2025 5:33:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tax_rate_rule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tax_class_id] [int] NOT NULL,
	[tax_rate_id] [int] NOT NULL,
	[effective_from] [datetime2](0) NOT NULL,
	[effective_to] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_cart_guest]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cart_guest] ON [dbo].[cart]
(
	[guest_token] ASC
)
WHERE ([guest_token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cart_user]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cart_user] ON [dbo].[cart]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cart_applied_campaign]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cart_applied_campaign] ON [dbo].[cart_applied_promo]
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cart_applied_coupon]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cart_applied_coupon] ON [dbo].[cart_applied_promo]
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cart_applied_rule]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cart_applied_rule] ON [dbo].[cart_applied_promo]
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cart_item_cart]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cart_item_cart] ON [dbo].[cart_item]
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cat_category_parent]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cat_category_parent] ON [dbo].[cat_category]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cat_sku_product]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cat_sku_product] ON [dbo].[cat_sku]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cat_sku_media]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_cat_sku_media] ON [dbo].[cat_sku_media]
(
	[sku_id] ASC,
	[is_primary] DESC,
	[sort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_skuopt_attr]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_skuopt_attr] ON [dbo].[cat_sku_option_value]
(
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_sku_option]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_sku_option] ON [dbo].[cat_sku_option_value]
(
	[option_id] ASC,
	[sku_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_review_target]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_review_target] ON [dbo].[ce_review]
(
	[product_id] ASC,
	[vendor_id] ASC,
	[status] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_review_user]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_review_user] ON [dbo].[ce_review]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_core_address_user]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_core_address_user] ON [dbo].[core_address]
(
	[user_id] ASC,
	[addr_type] ASC,
	[is_default] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservation_lookup]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_reservation_lookup] ON [dbo].[inv_reservation]
(
	[warehouse_id] ASC,
	[vendor_id] ASC,
	[sku_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_sku_wh]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_stock_sku_wh] ON [dbo].[inv_stock]
(
	[sku_id] ASC,
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_offer_sku]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_offer_sku] ON [dbo].[mkt_offer]
(
	[sku_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_offer_vendor]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_offer_vendor] ON [dbo].[mkt_offer]
(
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_placed]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_placed] ON [dbo].[ord_order]
(
	[placed_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_user]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_user] ON [dbo].[ord_order]
(
	[user_id] ASC,
	[placed_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_order_addr_type]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_order_addr_type] ON [dbo].[ord_order_address]
(
	[order_id] ASC,
	[addr_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_item_order]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_item_order] ON [dbo].[ord_order_item]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_item_vendor]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_item_vendor] ON [dbo].[ord_order_item]
(
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ship_order]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ship_order] ON [dbo].[ord_shipment]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_promo_log_campaign]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_promo_log_campaign] ON [dbo].[promo_application_log]
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_promo_log_cart]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_promo_log_cart] ON [dbo].[promo_application_log]
(
	[cart_id] ASC,
	[applied_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_promo_log_coupon]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_promo_log_coupon] ON [dbo].[promo_application_log]
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_promo_log_order]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_promo_log_order] ON [dbo].[promo_application_log]
(
	[order_id] ASC,
	[applied_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_promo_campaign_period]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_promo_campaign_period] ON [dbo].[promo_campaign]
(
	[period_start] ASC,
	[period_end] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_promo_rule_campaign]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_promo_rule_campaign] ON [dbo].[promo_rule]
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ship_rate_zone]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_ship_rate_zone] ON [dbo].[ship_rate]
(
	[zone_id] ASC,
	[weight_from_g] ASC,
	[weight_to_g] ASC,
	[effective_from] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ship_zone_country]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_ship_zone_country] ON [dbo].[ship_zone]
(
	[country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ext_mapping_lookup]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_ext_mapping_lookup] ON [dbo].[sys_ext_mapping]
(
	[entity] ASC,
	[local_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_staging_status]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_staging_status] ON [dbo].[sys_staging]
(
	[integration_id] ASC,
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_webhook_entity]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_webhook_entity] ON [dbo].[sys_webhook_event]
(
	[order_id] ASC,
	[cart_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_webhook_integration]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_webhook_integration] ON [dbo].[sys_webhook_event]
(
	[integration_id] ASC,
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_webhook_status]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_webhook_status] ON [dbo].[sys_webhook_event]
(
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_webhook_vendor]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_webhook_vendor] ON [dbo].[sys_webhook_event]
(
	[vendor_id] ASC,
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_trr_class]    Script Date: 02/09/2025 5:33:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_trr_class] ON [dbo].[tax_rate_rule]
(
	[tax_class_id] ASC,
	[effective_from] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart] ADD  CONSTRAINT [DF_cart_lastact]  DEFAULT (sysutcdatetime()) FOR [last_activity_at]
GO
ALTER TABLE [dbo].[cat_category] ADD  CONSTRAINT [DF_cat_sort]  DEFAULT ((0)) FOR [sort]
GO
ALTER TABLE [dbo].[cat_category] ADD  CONSTRAINT [DF_cat_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cat_product] ADD  CONSTRAINT [DF_product_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[cat_product] ADD  CONSTRAINT [DF_product_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cat_product] ADD  CONSTRAINT [DF_product_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cat_sku] ADD  CONSTRAINT [DF_sku_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cat_sku_media] ADD  CONSTRAINT [DF_skumedia_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[cat_sku_media] ADD  CONSTRAINT [DF_skumedia_sort]  DEFAULT ((0)) FOR [sort]
GO
ALTER TABLE [dbo].[cat_sku_option_value] ADD  CONSTRAINT [DF_skuopt_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ce_review] ADD  CONSTRAINT [DF_review_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[ce_review] ADD  CONSTRAINT [DF_review_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[core_address] ADD  CONSTRAINT [DF_addr_country]  DEFAULT ('VN') FOR [country]
GO
ALTER TABLE [dbo].[core_address] ADD  CONSTRAINT [DF_addr_default]  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[core_address] ADD  CONSTRAINT [DF_addr_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[core_address] ADD  CONSTRAINT [DF_addr_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[core_user] ADD  CONSTRAINT [DF_user_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[core_user] ADD  CONSTRAINT [DF_user_emailver]  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[core_user] ADD  CONSTRAINT [DF_user_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[core_user] ADD  CONSTRAINT [DF_user_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[inv_adjustment] ADD  CONSTRAINT [DF_adj_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[inv_reservation] ADD  CONSTRAINT [DF_resv_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[inv_reservation] ADD  CONSTRAINT [DF_resv_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[inv_stock] ADD  CONSTRAINT [DF_stock_onhand]  DEFAULT ((0)) FOR [on_hand]
GO
ALTER TABLE [dbo].[inv_stock] ADD  CONSTRAINT [DF_stock_reserved]  DEFAULT ((0)) FOR [reserved]
GO
ALTER TABLE [dbo].[inv_stock] ADD  CONSTRAINT [DF_stock_safety]  DEFAULT ((0)) FOR [safety_stock]
GO
ALTER TABLE [dbo].[inv_stock] ADD  CONSTRAINT [DF_stock_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[inv_warehouse] ADD  CONSTRAINT [DF_wh_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[mkt_offer] ADD  CONSTRAINT [DF_offer_curr_policy]  DEFAULT ((0)) FOR [currency_policy]
GO
ALTER TABLE [dbo].[mkt_offer] ADD  CONSTRAINT [DF_offer_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[mkt_offer] ADD  CONSTRAINT [DF_offer_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[mkt_offer] ADD  CONSTRAINT [DF_offer_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[mkt_vendor] ADD  CONSTRAINT [DF_vendor_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[mkt_vendor] ADD  CONSTRAINT [DF_vendor_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[mkt_vendor] ADD  CONSTRAINT [DF_vendor_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ord_order] ADD  CONSTRAINT [DF_order_disc]  DEFAULT ((0)) FOR [discount_total]
GO
ALTER TABLE [dbo].[ord_order] ADD  CONSTRAINT [DF_order_tax]  DEFAULT ((0)) FOR [tax_total]
GO
ALTER TABLE [dbo].[ord_order] ADD  CONSTRAINT [DF_order_ship]  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[ord_order] ADD  CONSTRAINT [DF_order_placed]  DEFAULT (sysutcdatetime()) FOR [placed_at]
GO
ALTER TABLE [dbo].[ord_order] ADD  CONSTRAINT [DF_order_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ord_order] ADD  CONSTRAINT [DF_order_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ord_order_item] ADD  CONSTRAINT [DF_oitm_disc]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[ord_order_item] ADD  CONSTRAINT [DF_oitm_tax]  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[ord_shipment] ADD  CONSTRAINT [DF_ship_cost]  DEFAULT ((0)) FOR [cost]
GO
ALTER TABLE [dbo].[pay_transaction] ADD  CONSTRAINT [DF_pay_attempt]  DEFAULT ((1)) FOR [attempt]
GO
ALTER TABLE [dbo].[pay_transaction] ADD  CONSTRAINT [DF_pay_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[promo_application_log] ADD  CONSTRAINT [DF_palog_applied]  DEFAULT (sysutcdatetime()) FOR [applied_at]
GO
ALTER TABLE [dbo].[promo_campaign] ADD  CONSTRAINT [DF_cam_priority]  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[promo_campaign] ADD  CONSTRAINT [DF_cam_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[promo_campaign] ADD  CONSTRAINT [DF_cam_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[promo_campaign] ADD  CONSTRAINT [DF_cam_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[promo_coupon] ADD  CONSTRAINT [DF_coupon_used]  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[promo_coupon] ADD  CONSTRAINT [DF_coupon_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[promo_rule] ADD  CONSTRAINT [DF_rule_stop]  DEFAULT ((0)) FOR [stop_further_rules]
GO
ALTER TABLE [dbo].[promo_rule] ADD  CONSTRAINT [DF_rule_sort]  DEFAULT ((0)) FOR [sort]
GO
ALTER TABLE [dbo].[promo_rule] ADD  CONSTRAINT [DF_rule_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[role_admin_profile] ADD  CONSTRAINT [DF_radmin_level]  DEFAULT ((1)) FOR [level]
GO
ALTER TABLE [dbo].[role_admin_profile] ADD  CONSTRAINT [DF_radmin_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_customer_profile] ADD  CONSTRAINT [DF_rcustomer_pts]  DEFAULT ((0)) FOR [loyalty_points]
GO
ALTER TABLE [dbo].[role_customer_profile] ADD  CONSTRAINT [DF_rcustomer_optin]  DEFAULT ((0)) FOR [marketing_optin]
GO
ALTER TABLE [dbo].[role_customer_profile] ADD  CONSTRAINT [DF_rcustomer_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_moderator_profile] ADD  CONSTRAINT [DF_rmod_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_vendor_staff] ADD  CONSTRAINT [DF_rvs_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_vendor_staff] ADD  CONSTRAINT [DF_rvs_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_warehouse_staff] ADD  CONSTRAINT [DF_rwh_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ship_config] ADD  CONSTRAINT [DF_shipcfg_lead]  DEFAULT ((2)) FOR [lead_time_days]
GO
ALTER TABLE [dbo].[ship_config] ADD  CONSTRAINT [DF_shipcfg_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[ship_rate] ADD  CONSTRAINT [DF_shiprate_step]  DEFAULT ((0)) FOR [step_fee_per_500g]
GO
ALTER TABLE [dbo].[ship_rate] ADD  CONSTRAINT [DF_shiprate_cod]  DEFAULT ((0)) FOR [cod_surcharge]
GO
ALTER TABLE [dbo].[ship_rate] ADD  CONSTRAINT [DF_shiprate_fuel]  DEFAULT ((0)) FOR [fuel_surcharge_pct]
GO
ALTER TABLE [dbo].[ship_zone] ADD  CONSTRAINT [DF_zone_country]  DEFAULT ('VN') FOR [country]
GO
ALTER TABLE [dbo].[sys_integration] ADD  CONSTRAINT [DF_sint_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[sys_integration] ADD  CONSTRAINT [DF_sint_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sys_integration] ADD  CONSTRAINT [DF_sint_updated]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sys_staging] ADD  CONSTRAINT [DF_stg_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[sys_staging] ADD  CONSTRAINT [DF_stg_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sys_webhook_event] ADD  CONSTRAINT [DF_whk_attempt]  DEFAULT ((0)) FOR [attempts]
GO
ALTER TABLE [dbo].[sys_webhook_event] ADD  CONSTRAINT [DF_whk_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[sys_webhook_event] ADD  CONSTRAINT [DF_whk_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[tax_rate_rule] ADD  CONSTRAINT [DF_trr_from]  DEFAULT ('2000-01-01') FOR [effective_from]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_user]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_wh]
GO
ALTER TABLE [dbo].[cart_applied_promo]  WITH CHECK ADD  CONSTRAINT [FK_cart_applied_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_applied_promo] CHECK CONSTRAINT [FK_cart_applied_cart]
GO
ALTER TABLE [dbo].[cart_applied_promo]  WITH CHECK ADD  CONSTRAINT [FK_cart_applied_rule] FOREIGN KEY([rule_id])
REFERENCES [dbo].[promo_rule] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[cart_applied_promo] CHECK CONSTRAINT [FK_cart_applied_rule]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_citem_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_citem_cart]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_citem_offer] FOREIGN KEY([offer_id])
REFERENCES [dbo].[mkt_offer] ([id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_citem_offer]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_citem_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_citem_sku]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_citem_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_citem_vendor]
GO
ALTER TABLE [dbo].[cat_attribute_option]  WITH CHECK ADD  CONSTRAINT [FK_attr_opt_attr] FOREIGN KEY([attribute_id])
REFERENCES [dbo].[cat_attribute] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_attribute_option] CHECK CONSTRAINT [FK_attr_opt_attr]
GO
ALTER TABLE [dbo].[cat_attribute_option_i18n]  WITH CHECK ADD  CONSTRAINT [FK_attr_opt_i18n_opt] FOREIGN KEY([option_id])
REFERENCES [dbo].[cat_attribute_option] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_attribute_option_i18n] CHECK CONSTRAINT [FK_attr_opt_i18n_opt]
GO
ALTER TABLE [dbo].[cat_category]  WITH CHECK ADD  CONSTRAINT [FK_cat_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[cat_category] ([id])
GO
ALTER TABLE [dbo].[cat_category] CHECK CONSTRAINT [FK_cat_parent]
GO
ALTER TABLE [dbo].[cat_category_i18n]  WITH CHECK ADD  CONSTRAINT [FK_cat_i18n_cat] FOREIGN KEY([category_id])
REFERENCES [dbo].[cat_category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_category_i18n] CHECK CONSTRAINT [FK_cat_i18n_cat]
GO
ALTER TABLE [dbo].[cat_product_category]  WITH CHECK ADD  CONSTRAINT [FK_prodcat_cat] FOREIGN KEY([category_id])
REFERENCES [dbo].[cat_category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_product_category] CHECK CONSTRAINT [FK_prodcat_cat]
GO
ALTER TABLE [dbo].[cat_product_category]  WITH CHECK ADD  CONSTRAINT [FK_prodcat_prod] FOREIGN KEY([product_id])
REFERENCES [dbo].[cat_product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_product_category] CHECK CONSTRAINT [FK_prodcat_prod]
GO
ALTER TABLE [dbo].[cat_product_i18n]  WITH CHECK ADD  CONSTRAINT [FK_prod_i18n_prod] FOREIGN KEY([product_id])
REFERENCES [dbo].[cat_product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_product_i18n] CHECK CONSTRAINT [FK_prod_i18n_prod]
GO
ALTER TABLE [dbo].[cat_sku]  WITH CHECK ADD  CONSTRAINT [FK_sku_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[cat_product] ([id])
GO
ALTER TABLE [dbo].[cat_sku] CHECK CONSTRAINT [FK_sku_product]
GO
ALTER TABLE [dbo].[cat_sku_media]  WITH CHECK ADD  CONSTRAINT [FK_skumedia_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_sku_media] CHECK CONSTRAINT [FK_skumedia_sku]
GO
ALTER TABLE [dbo].[cat_sku_option_value]  WITH CHECK ADD  CONSTRAINT [FK_skuopt_attr] FOREIGN KEY([attribute_id])
REFERENCES [dbo].[cat_attribute] ([id])
GO
ALTER TABLE [dbo].[cat_sku_option_value] CHECK CONSTRAINT [FK_skuopt_attr]
GO
ALTER TABLE [dbo].[cat_sku_option_value]  WITH CHECK ADD  CONSTRAINT [FK_skuopt_option] FOREIGN KEY([option_id])
REFERENCES [dbo].[cat_attribute_option] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_sku_option_value] CHECK CONSTRAINT [FK_skuopt_option]
GO
ALTER TABLE [dbo].[cat_sku_option_value]  WITH CHECK ADD  CONSTRAINT [FK_skuopt_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cat_sku_option_value] CHECK CONSTRAINT [FK_skuopt_sku]
GO
ALTER TABLE [dbo].[ce_review]  WITH CHECK ADD  CONSTRAINT [FK_review_moderator] FOREIGN KEY([moderated_by])
REFERENCES [dbo].[core_user] ([id])
GO
ALTER TABLE [dbo].[ce_review] CHECK CONSTRAINT [FK_review_moderator]
GO
ALTER TABLE [dbo].[ce_review]  WITH CHECK ADD  CONSTRAINT [FK_review_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ce_review] CHECK CONSTRAINT [FK_review_order]
GO
ALTER TABLE [dbo].[ce_review]  WITH CHECK ADD  CONSTRAINT [FK_review_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[cat_product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ce_review] CHECK CONSTRAINT [FK_review_product]
GO
ALTER TABLE [dbo].[ce_review]  WITH CHECK ADD  CONSTRAINT [FK_review_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ce_review] CHECK CONSTRAINT [FK_review_sku]
GO
ALTER TABLE [dbo].[ce_review]  WITH CHECK ADD  CONSTRAINT [FK_review_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ce_review] CHECK CONSTRAINT [FK_review_user]
GO
ALTER TABLE [dbo].[ce_review]  WITH CHECK ADD  CONSTRAINT [FK_review_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ce_review] CHECK CONSTRAINT [FK_review_vendor]
GO
ALTER TABLE [dbo].[core_address]  WITH CHECK ADD  CONSTRAINT [FK_address_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[core_address] CHECK CONSTRAINT [FK_address_user]
GO
ALTER TABLE [dbo].[core_role_permission]  WITH CHECK ADD  CONSTRAINT [FK_roleperm_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[core_permission] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[core_role_permission] CHECK CONSTRAINT [FK_roleperm_perm]
GO
ALTER TABLE [dbo].[core_role_permission]  WITH CHECK ADD  CONSTRAINT [FK_roleperm_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[core_role] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[core_role_permission] CHECK CONSTRAINT [FK_roleperm_role]
GO
ALTER TABLE [dbo].[core_user_role]  WITH CHECK ADD  CONSTRAINT [FK_userrole_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[core_role] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[core_user_role] CHECK CONSTRAINT [FK_userrole_role]
GO
ALTER TABLE [dbo].[core_user_role]  WITH CHECK ADD  CONSTRAINT [FK_userrole_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[core_user_role] CHECK CONSTRAINT [FK_userrole_user]
GO
ALTER TABLE [dbo].[inv_adjustment]  WITH CHECK ADD  CONSTRAINT [FK_adj_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[core_user] ([id])
GO
ALTER TABLE [dbo].[inv_adjustment] CHECK CONSTRAINT [FK_adj_user]
GO
ALTER TABLE [dbo].[inv_adjustment]  WITH CHECK ADD  CONSTRAINT [FK_adj_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
GO
ALTER TABLE [dbo].[inv_adjustment] CHECK CONSTRAINT [FK_adj_vendor]
GO
ALTER TABLE [dbo].[inv_adjustment]  WITH CHECK ADD  CONSTRAINT [FK_adj_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
GO
ALTER TABLE [dbo].[inv_adjustment] CHECK CONSTRAINT [FK_adj_wh]
GO
ALTER TABLE [dbo].[inv_adjustment_line]  WITH CHECK ADD  CONSTRAINT [FK_adjline_adj] FOREIGN KEY([adjustment_id])
REFERENCES [dbo].[inv_adjustment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inv_adjustment_line] CHECK CONSTRAINT [FK_adjline_adj]
GO
ALTER TABLE [dbo].[inv_adjustment_line]  WITH CHECK ADD  CONSTRAINT [FK_adjline_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
GO
ALTER TABLE [dbo].[inv_adjustment_line] CHECK CONSTRAINT [FK_adjline_sku]
GO
ALTER TABLE [dbo].[inv_reservation]  WITH CHECK ADD  CONSTRAINT [FK_resv_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[inv_reservation] CHECK CONSTRAINT [FK_resv_cart]
GO
ALTER TABLE [dbo].[inv_reservation]  WITH CHECK ADD  CONSTRAINT [FK_resv_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[inv_reservation] CHECK CONSTRAINT [FK_resv_order]
GO
ALTER TABLE [dbo].[inv_reservation]  WITH CHECK ADD  CONSTRAINT [FK_resv_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
GO
ALTER TABLE [dbo].[inv_reservation] CHECK CONSTRAINT [FK_resv_sku]
GO
ALTER TABLE [dbo].[inv_reservation]  WITH CHECK ADD  CONSTRAINT [FK_resv_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
GO
ALTER TABLE [dbo].[inv_reservation] CHECK CONSTRAINT [FK_resv_vendor]
GO
ALTER TABLE [dbo].[inv_reservation]  WITH CHECK ADD  CONSTRAINT [FK_resv_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
GO
ALTER TABLE [dbo].[inv_reservation] CHECK CONSTRAINT [FK_resv_wh]
GO
ALTER TABLE [dbo].[inv_stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
GO
ALTER TABLE [dbo].[inv_stock] CHECK CONSTRAINT [FK_stock_sku]
GO
ALTER TABLE [dbo].[inv_stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
GO
ALTER TABLE [dbo].[inv_stock] CHECK CONSTRAINT [FK_stock_vendor]
GO
ALTER TABLE [dbo].[inv_stock]  WITH CHECK ADD  CONSTRAINT [FK_stock_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
GO
ALTER TABLE [dbo].[inv_stock] CHECK CONSTRAINT [FK_stock_wh]
GO
ALTER TABLE [dbo].[mkt_offer]  WITH CHECK ADD  CONSTRAINT [FK_offer_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
GO
ALTER TABLE [dbo].[mkt_offer] CHECK CONSTRAINT [FK_offer_sku]
GO
ALTER TABLE [dbo].[mkt_offer]  WITH CHECK ADD  CONSTRAINT [FK_offer_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
GO
ALTER TABLE [dbo].[mkt_offer] CHECK CONSTRAINT [FK_offer_vendor]
GO
ALTER TABLE [dbo].[ord_order]  WITH CHECK ADD  CONSTRAINT [FK_order_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
GO
ALTER TABLE [dbo].[ord_order] CHECK CONSTRAINT [FK_order_user]
GO
ALTER TABLE [dbo].[ord_order]  WITH CHECK ADD  CONSTRAINT [FK_order_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
GO
ALTER TABLE [dbo].[ord_order] CHECK CONSTRAINT [FK_order_wh]
GO
ALTER TABLE [dbo].[ord_order_address]  WITH CHECK ADD  CONSTRAINT [FK_oaddr_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ord_order_address] CHECK CONSTRAINT [FK_oaddr_order]
GO
ALTER TABLE [dbo].[ord_order_item]  WITH CHECK ADD  CONSTRAINT [FK_oitm_offer] FOREIGN KEY([offer_id])
REFERENCES [dbo].[mkt_offer] ([id])
GO
ALTER TABLE [dbo].[ord_order_item] CHECK CONSTRAINT [FK_oitm_offer]
GO
ALTER TABLE [dbo].[ord_order_item]  WITH CHECK ADD  CONSTRAINT [FK_oitm_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ord_order_item] CHECK CONSTRAINT [FK_oitm_order]
GO
ALTER TABLE [dbo].[ord_order_item]  WITH CHECK ADD  CONSTRAINT [FK_oitm_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
GO
ALTER TABLE [dbo].[ord_order_item] CHECK CONSTRAINT [FK_oitm_sku]
GO
ALTER TABLE [dbo].[ord_order_item]  WITH CHECK ADD  CONSTRAINT [FK_oitm_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
GO
ALTER TABLE [dbo].[ord_order_item] CHECK CONSTRAINT [FK_oitm_vendor]
GO
ALTER TABLE [dbo].[ord_shipment]  WITH CHECK ADD  CONSTRAINT [FK_ship_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ord_shipment] CHECK CONSTRAINT [FK_ship_order]
GO
ALTER TABLE [dbo].[ord_shipment]  WITH CHECK ADD  CONSTRAINT [FK_ship_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
GO
ALTER TABLE [dbo].[ord_shipment] CHECK CONSTRAINT [FK_ship_wh]
GO
ALTER TABLE [dbo].[pay_transaction]  WITH CHECK ADD  CONSTRAINT [FK_pay_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pay_transaction] CHECK CONSTRAINT [FK_pay_order]
GO
ALTER TABLE [dbo].[promo_application_log]  WITH CHECK ADD  CONSTRAINT [FK_palog_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[promo_application_log] CHECK CONSTRAINT [FK_palog_cart]
GO
ALTER TABLE [dbo].[promo_application_log]  WITH CHECK ADD  CONSTRAINT [FK_palog_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[promo_application_log] CHECK CONSTRAINT [FK_palog_order]
GO
ALTER TABLE [dbo].[promo_application_log]  WITH CHECK ADD  CONSTRAINT [FK_palog_rule] FOREIGN KEY([rule_id])
REFERENCES [dbo].[promo_rule] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[promo_application_log] CHECK CONSTRAINT [FK_palog_rule]
GO
ALTER TABLE [dbo].[promo_coupon]  WITH CHECK ADD  CONSTRAINT [FK_coupon_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[promo_campaign] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[promo_coupon] CHECK CONSTRAINT [FK_coupon_campaign]
GO
ALTER TABLE [dbo].[promo_rule]  WITH CHECK ADD  CONSTRAINT [FK_rule_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[promo_campaign] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[promo_rule] CHECK CONSTRAINT [FK_rule_campaign]
GO
ALTER TABLE [dbo].[role_admin_profile]  WITH CHECK ADD  CONSTRAINT [FK_admin_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_admin_profile] CHECK CONSTRAINT [FK_admin_user]
GO
ALTER TABLE [dbo].[role_admin_profile]  WITH CHECK ADD  CONSTRAINT [FK_admin_userrole] FOREIGN KEY([user_id], [role_id])
REFERENCES [dbo].[core_user_role] ([user_id], [role_id])
GO
ALTER TABLE [dbo].[role_admin_profile] CHECK CONSTRAINT [FK_admin_userrole]
GO
ALTER TABLE [dbo].[role_customer_profile]  WITH CHECK ADD  CONSTRAINT [FK_customer_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_customer_profile] CHECK CONSTRAINT [FK_customer_user]
GO
ALTER TABLE [dbo].[role_customer_profile]  WITH CHECK ADD  CONSTRAINT [FK_customer_userrole] FOREIGN KEY([user_id], [role_id])
REFERENCES [dbo].[core_user_role] ([user_id], [role_id])
GO
ALTER TABLE [dbo].[role_customer_profile] CHECK CONSTRAINT [FK_customer_userrole]
GO
ALTER TABLE [dbo].[role_moderator_profile]  WITH CHECK ADD  CONSTRAINT [FK_rmod_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_moderator_profile] CHECK CONSTRAINT [FK_rmod_user]
GO
ALTER TABLE [dbo].[role_moderator_profile]  WITH CHECK ADD  CONSTRAINT [FK_rmod_userrole] FOREIGN KEY([user_id], [role_id])
REFERENCES [dbo].[core_user_role] ([user_id], [role_id])
GO
ALTER TABLE [dbo].[role_moderator_profile] CHECK CONSTRAINT [FK_rmod_userrole]
GO
ALTER TABLE [dbo].[role_vendor_staff]  WITH CHECK ADD  CONSTRAINT [FK_rvs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_vendor_staff] CHECK CONSTRAINT [FK_rvs_user]
GO
ALTER TABLE [dbo].[role_vendor_staff]  WITH CHECK ADD  CONSTRAINT [FK_rvs_userrole] FOREIGN KEY([user_id], [role_id])
REFERENCES [dbo].[core_user_role] ([user_id], [role_id])
GO
ALTER TABLE [dbo].[role_vendor_staff] CHECK CONSTRAINT [FK_rvs_userrole]
GO
ALTER TABLE [dbo].[role_vendor_staff]  WITH CHECK ADD  CONSTRAINT [FK_rvs_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_vendor_staff] CHECK CONSTRAINT [FK_rvs_vendor]
GO
ALTER TABLE [dbo].[role_warehouse_staff]  WITH CHECK ADD  CONSTRAINT [FK_rwh_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[core_user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_warehouse_staff] CHECK CONSTRAINT [FK_rwh_user]
GO
ALTER TABLE [dbo].[role_warehouse_staff]  WITH CHECK ADD  CONSTRAINT [FK_rwh_userrole] FOREIGN KEY([user_id], [role_id])
REFERENCES [dbo].[core_user_role] ([user_id], [role_id])
GO
ALTER TABLE [dbo].[role_warehouse_staff] CHECK CONSTRAINT [FK_rwh_userrole]
GO
ALTER TABLE [dbo].[role_warehouse_staff]  WITH CHECK ADD  CONSTRAINT [FK_rwh_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_warehouse_staff] CHECK CONSTRAINT [FK_rwh_wh]
GO
ALTER TABLE [dbo].[ship_config]  WITH CHECK ADD  CONSTRAINT [FK_shipcfg_wh] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[inv_warehouse] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ship_config] CHECK CONSTRAINT [FK_shipcfg_wh]
GO
ALTER TABLE [dbo].[ship_rate]  WITH CHECK ADD  CONSTRAINT [FK_shiprate_zone] FOREIGN KEY([zone_id])
REFERENCES [dbo].[ship_zone] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ship_rate] CHECK CONSTRAINT [FK_shiprate_zone]
GO
ALTER TABLE [dbo].[sys_ext_mapping]  WITH CHECK ADD  CONSTRAINT [FK_extmap_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sys_ext_mapping] CHECK CONSTRAINT [FK_extmap_vendor]
GO
ALTER TABLE [dbo].[sys_integration]  WITH CHECK ADD  CONSTRAINT [FK_sint_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sys_integration] CHECK CONSTRAINT [FK_sint_vendor]
GO
ALTER TABLE [dbo].[sys_staging]  WITH CHECK ADD  CONSTRAINT [FK_stg_integration] FOREIGN KEY([integration_id])
REFERENCES [dbo].[sys_integration] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sys_staging] CHECK CONSTRAINT [FK_stg_integration]
GO
ALTER TABLE [dbo].[sys_webhook_event]  WITH CHECK ADD  CONSTRAINT [FK_webhook_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sys_webhook_event] CHECK CONSTRAINT [FK_webhook_cart]
GO
ALTER TABLE [dbo].[sys_webhook_event]  WITH CHECK ADD  CONSTRAINT [FK_webhook_integration] FOREIGN KEY([integration_id])
REFERENCES [dbo].[sys_integration] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sys_webhook_event] CHECK CONSTRAINT [FK_webhook_integration]
GO
ALTER TABLE [dbo].[sys_webhook_event]  WITH CHECK ADD  CONSTRAINT [FK_webhook_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ord_order] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sys_webhook_event] CHECK CONSTRAINT [FK_webhook_order]
GO
ALTER TABLE [dbo].[sys_webhook_event]  WITH CHECK ADD  CONSTRAINT [FK_webhook_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[cat_product] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sys_webhook_event] CHECK CONSTRAINT [FK_webhook_product]
GO
ALTER TABLE [dbo].[sys_webhook_event]  WITH CHECK ADD  CONSTRAINT [FK_webhook_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[mkt_vendor] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sys_webhook_event] CHECK CONSTRAINT [FK_webhook_vendor]
GO
ALTER TABLE [dbo].[tax_mapping]  WITH CHECK ADD  CONSTRAINT [FK_taxmap_class] FOREIGN KEY([tax_class_id])
REFERENCES [dbo].[tax_class] ([id])
GO
ALTER TABLE [dbo].[tax_mapping] CHECK CONSTRAINT [FK_taxmap_class]
GO
ALTER TABLE [dbo].[tax_mapping]  WITH CHECK ADD  CONSTRAINT [FK_taxmap_sku] FOREIGN KEY([sku_id])
REFERENCES [dbo].[cat_sku] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tax_mapping] CHECK CONSTRAINT [FK_taxmap_sku]
GO
ALTER TABLE [dbo].[tax_rate_rule]  WITH CHECK ADD  CONSTRAINT [FK_trr_class] FOREIGN KEY([tax_class_id])
REFERENCES [dbo].[tax_class] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tax_rate_rule] CHECK CONSTRAINT [FK_trr_class]
GO
ALTER TABLE [dbo].[tax_rate_rule]  WITH CHECK ADD  CONSTRAINT [FK_trr_rate] FOREIGN KEY([tax_rate_id])
REFERENCES [dbo].[tax_rate] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tax_rate_rule] CHECK CONSTRAINT [FK_trr_rate]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [CK_cart_currency] CHECK  (([currency]='VND' OR [currency]='USD'))
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [CK_cart_currency]
GO
ALTER TABLE [dbo].[cat_attribute_option_i18n]  WITH CHECK ADD  CONSTRAINT [CK_attr_opt_i18n_lang] CHECK  (([lang]='vi' OR [lang]='en'))
GO
ALTER TABLE [dbo].[cat_attribute_option_i18n] CHECK CONSTRAINT [CK_attr_opt_i18n_lang]
GO
ALTER TABLE [dbo].[cat_category_i18n]  WITH CHECK ADD  CONSTRAINT [CK_cat_i18n_lang] CHECK  (([lang]='vi' OR [lang]='en'))
GO
ALTER TABLE [dbo].[cat_category_i18n] CHECK CONSTRAINT [CK_cat_i18n_lang]
GO
ALTER TABLE [dbo].[cat_product_i18n]  WITH CHECK ADD  CONSTRAINT [CK_prod_i18n_lang] CHECK  (([lang]='vi' OR [lang]='en'))
GO
ALTER TABLE [dbo].[cat_product_i18n] CHECK CONSTRAINT [CK_prod_i18n_lang]
GO
ALTER TABLE [dbo].[ce_review]  WITH CHECK ADD  CONSTRAINT [CK_review_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[ce_review] CHECK CONSTRAINT [CK_review_rating]
GO
ALTER TABLE [dbo].[ord_order]  WITH CHECK ADD  CONSTRAINT [CK_order_currency] CHECK  (([currency]='VND' OR [currency]='USD'))
GO
ALTER TABLE [dbo].[ord_order] CHECK CONSTRAINT [CK_order_currency]
GO
ALTER TABLE [dbo].[role_customer_profile]  WITH CHECK ADD  CONSTRAINT [CK_rcustomer_gender] CHECK  (([gender]='O' OR [gender]='F' OR [gender]='M'))
GO
ALTER TABLE [dbo].[role_customer_profile] CHECK CONSTRAINT [CK_rcustomer_gender]
GO
ALTER TABLE [dbo].[sys_webhook_event]  WITH CHECK ADD  CONSTRAINT [CK_webhook_has_ref] CHECK  (([vendor_id] IS NOT NULL OR [integration_id] IS NOT NULL OR [order_id] IS NOT NULL OR [cart_id] IS NOT NULL OR [product_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[sys_webhook_event] CHECK CONSTRAINT [CK_webhook_has_ref]
GO
USE [master]
GO
