<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            <Module>[ShopFlow.*]*</Module>
          </Include>
          <Exclude>
            <Module>[*.Tests]*</Module>
            <Module>[*TestAdapter]*</Module>
            <Assembly>*.Tests.dll</Assembly>
            <Assembly>*TestAdapter*.dll</Assembly>
          </Exclude>
          <ExcludeByAttribute>
            <Attribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute</Attribute>
            <Attribute>System.CodeDom.Compiler.GeneratedCodeAttribute</Attribute>
            <Attribute>System.Diagnostics.DebuggerNonUserCodeAttribute</Attribute>
          </ExcludeByAttribute>
          <ExcludeByFile>
            <File>**/Migrations/**/*.cs</File>
            <File>**/Program.cs</File>
            <File>**/*Designer.cs</File>
            <File>**/*.Generated.cs</File>
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
